.more:after
  content: "";
  position: absolute;
  right: 5.12px;
  right: .32rem;
  top: 50%;
  width: 3.2px;
  width: .2rem;
  height: 3.2px;
  height: .2rem;
  border-left: 1px solid currentColor;
  border-top: 1px solid currentColor;
  transform: translate3d(0,-50%,0) rotate(135deg);
  -webkit-transform: translate3d(0,-50%,0) rotate(135deg)
