ellipsis()
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis
dividerBefore()
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: .4rem;
  border-top: 1px solid #e0e0e0;
  transform: translate3d(-150%,-50%,0);
  -webkit-transform: translate3d(-150%,-50%,0);
dividerAfter()
  content: "";
  position: absolute;
  top: 50%;
  width: .4rem;
  border-top: 1px solid #e0e0e0;
  left: auto;
  right: 0;
  transform: translate3d(150%,-50%,0);
  -webkit-transform: translate3d(150%,-50%,0);
rmbsign()
  content: "\A5";
  position: absolute;
  left: 0;
  top: 0;
  font-size: .76em;
  text-decoration: none;
bodystyle()
  position: absolute;
  top: 82px;
  left: 0;
  right: 0;
  background: #fff;
  padding-bottom 51px
  background-color #f2f2f2;
